*{
    padding: 0;
    margin: 0;
}

body{
    
  background: radial-gradient(rgb(174, 219, 150),rgb(245, 204, 204)); 
}
.container
{
 background: radial-gradient(rgb(8, 8, 12), rgb(82, 34, 34)); 
}
.welcome{
    /* background-color: #8B0000; */
    background: radial-gradient(#fff,brown); 
    color: black;
    padding: 10px;
}
.background{
    /* background: rgba(0, 0, 0, 0.7)url('back1.jpeg'); */
    background-size: cover;
  
}
.navbar{
    display: flex;
   
}
.navlist
{
    display: flex;
    justify-content: center;
    align-items: center;
width: 100%;
}
.navlist li{
    font-size: x-large;
    padding: 15px;
list-style: none;
}
.navlist li a{
 text-decoration: none;
 color: white;
}
.navlist li a:hover{
    color: grey;
}
.logo
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    height: 100px;
    border: 2px solid wheat;
    border-radius: 100%;

}
.row
       {
        display: flex;
       }
       .col3
       {
        flex-basis: 30%;
        min-width: 250px;
        margin-bottom: 30px;
       }
       .bio hr{
        border: none;
        background: #b5b5b5;
      height: 10px;
    margin: 20px 0;       
    }  
    .bio h1{
      font-size: 40px;
    }
    .bio h2{
        font-size: 25px;
    }
    .bio b{
        font-size: 19px ;
    }
       .education{
        background: rgb(21, 20, 20);
        color: white;
        margin-top: 80px;
        padding: 30px 0;
       }
       .edu-img{
        height: 300px;
        width: 300px;
       }
       .skill{
        
        margin-left: 120px;
       }
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
   }
   .brands{
    display: flex;
    margin: 100px auto;

   }
   .col5{
    padding: 30px;
    width: 160px;
   }
   .col5 img{
    justify-content: center;
    width:100%;
    cursor: pointer;
    filter: grayscale(100%);
   }
  
   .col5 img:hover{
    filter: grayscale(0);
   }

   .foot{
    background-color: black;
    color: #8a8a8a;
    font-size: 20px;
    padding: 60px 0 20px;
   }
   .foot p{
    color: #8a8a8a;
   }
   .foot h3{
    color: white;
    margin-bottom: 20px;
   }
   .footer-col1, .footer-col2, .footer-col3, .footer-col4{
    min-width: 250px;
    margin-bottom: 20px;
   }
   .footer-col1{
    flex-basis: 30%;
   }
   .footer-col2{
    flex: 1;
    text-align: center;
   }
   .footer-col2 img{
    width: 180px;
    border-radius: 30px;
    margin-bottom: 20px;
    border-color: rgb(164, 69, 69);
   }
   .foot hr{
    border: none;
    background: #b5b5b5;
  height: 1px;
margin: 20px 0;       
}
.applogo{
    margin: 20px;
   }
   .applogo img{
    width: 100px;
    color: grey;
   }
.copyright{
  text-align: center;
}
